/*
   desktop
*/
@media (max-width: 1024px) {

  .container {
    padding: 0 30px;
  }

  .sec-title {
    font-size: 40px;
  }

  .sec .btn,
  .final-btn {
    width: 25%;
  }

  .wellbeing-content {
    width: 60%;
  }

  .produce-img {
    width: 48%;
  }

  .produce-content {
    width: 48%;
  }
}

/*
   ipdad
*/
@media (max-width: 768px) {

  /* 
  navbar
   */

  .navbar {
    gap: 15px;
    padding: 15px;
  }

  .navbar ul {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*
  sec 
  */

  .sec-images {
    flex-direction: column;
  }

  .sec .btn, .final-btn {
    width: 50%;
  }

  /* 
  wellbeing
   */

  .wellbeing {
    flex-direction: column;
    text-align: center;
  }

  .wellbeing-content {
    width: 90%;
    margin-left: 0;
    align-items: center;
  }

  .wellbeing-cards {
    gap: 30px;
  }

  .wellbeing-card {
    align-items: center;
    text-align: center;
  }

  .wellbeing-image {
    display: none;
  }

  /* 
  produce
   */

  .produce-img {
    
    margin-bottom: 0;
  }

  .produce-content {
    width: 48%;
  }

  /* 
  final
  */

  .final-title {
    font-size: 30px;
    text-align: center;
  }

  .final-text {
    width: 90%;
  }

  .final-btn {
    width: 35%;
  }

  .final-cards {
    flex-wrap: wrap;
    height: auto;
    padding: 5% 5%;
    row-gap: 20px;
  }

  .final-card {
    width: 40%;
    margin-right: 0;
  }

  /* 
  footer
   */

   footer {
    margin-top: 70%;
  }

  .footer {
    flex-direction: column;
  }

  .footer-col {
    flex-direction: column;
    align-items: start;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    align-items: start;
    flex-wrap: nowrap;
  }
  .footer-links .col {
    width: 20%;
    text-align: center;
  }
}

/*
  phones
 */

 @media(max-width: 480px){
  .navbar .nav-links {
    display: none;
  }

  .navbar .nav-icon {
    display: flex;
  }

  .produce {
    flex-direction: column;
  }

  .produce-img,
  .produce-content {
    width: 100%;
  }

  .final-cards {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .final-card {
    width: 20%;
    margin-bottom: 0;
  }
 }